:root {
  --var--color--one: #f5efe1;
  --var--color--two: #161616;
}

@font-face {
  font-family: harmond;
  src: url("./fonts/Harmond-SemiBoldCondensed.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: harmond, sans-serif;
}

a{
  text-decoration: none;
  color: var(--var--color--two);
}
ul{
  list-style: none;
}

section {
  height: 100vh;
}

button{
  outline: none;
  cursor: pointer;
}


.hero-section{
  color: var(--var--color--two);
  background-color: var(--var--color--one);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section h1{
  width: 100%;
  text-align: center;
  font-size: 6rem;
  letter-spacing: 4px;
}

.one {
  background-color: var(--var--color--two);
  color: var(--var--color--one);
  display: flex;
  justify-content: center;
  align-items: center;
}

.one .btn-container{
  width: 100%;
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.fetchUserBtn, .fetchImgBtn{
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 15px;
  font-size: 24px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: var(--var--color--one);
  transition: all 0.5s ease-in-out;
  font-family: monospace;
}

.fetchUserBtn:hover, .fetchImgBtn:hover{
  background-color: var(--var--color--two);
  color: var(--var--color--one);
}


.two {
  background-color: var(--var--color--one);
  color: var(--var--color--two);
  display: flex;
  justify-content: center;
  align-items: center;
}

.three {
  background-color: var(--var--color--two);
  color: var(--var--color--one);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 70%;
  width: 50%;
  min-width: 350px;
  min-height: 350px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rbga(0,0,0,0.3);
  position: relative;
}

.two .container{
  height: 55%;
  width: 45%;
}

.three .container{
  background-color: var(--var--color--one);
}

.two .container{
  background-color: var(--var--color--two);
}

.image-container{
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid white; */
}

.noImg-card{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--var--color--two);
  text-align: center;
}
.noImg-card h1{
  font-family: monospace;
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
}
.noImg-card p a{
  font-family: monospace;
  text-transform: capitalize;
  color: var(--var--color--one);
}

img{
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.img-active{
  display: block;
}


#prev-img, #next-img, #prev-user, #next-user{
  height: 40px;
  width: 40px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bolder;
}

#prev-img, #next-img{
  background-color: var(--var--color--two);
  color: var(--var--color--one);
}

#prev-user, #next-user{
  background-color: var(--var--color--one);
  color: var(--var--color--two);
  border: 2px solid var(--var--color--two);
}


#prev-img,#prev-user {
  left: 15px;
}

#next-img, #next-user{
  right: 15px;
}

.userCard-container{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  width: 100%;
}

.card{
  background-color: var(--var--color--one);
  color: var(--var--color--two);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2em;
  line-height: 1.6;
  overflow-y: scroll;
  display: none;
}

.card h1, .card p a{
  font-family: monospace;
}

.card::-webkit-scrollbar{
  width: 0;
}

.card-active{
  display: block;
}

.profile-name{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: 0.5px;

}

.profile-name::after{
  content: "";
  display: block;
  height: 1px;
  width: 5em;
  background: #16161659;
  margin: 0.7em auto 0.5em;
}

.profile-position {
  font-family: monospace;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  margin-bottom: 4rem;
}

.profile-body{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.list-1, .list-2{
  width: 50%;
  height: 100%;
}
.list-2 li, .list-1 li{
  padding: 2px;
}

.list-1 li, .list-2 li{
  font-family: serif;
}

.list-1 li span, .list-2 li span{
  font-weight: bolder;
  font-family: monospace;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .hero-section h1{
    font-size: 3rem;
  }
  .profile-body{
    flex-direction: column;
  }
  .list-1{
    height: 50%;
    width: 100%;
  }
  .list-2{
    height: 50%;
    width: 100%;
  }
  .one .btn-container{
    gap: 2rem;
  }
  .fetchUserBtn, .fetchImgBtn{
    padding: 1rem;
    font-size: 20px;
  }
}